*{
    font-family: 'Roboto', sans-serif;
}

header nav ul{
    padding: 10px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    width: 100vh;
    margin: 0 auto;
    padding: 0;
}


header nav ul li{
    display: inline;
}

header nav ul li a{
    color: grey;
    text-decoration:none;
  
}





hr{
    margin: 0px 0px 40px 0px;
    width: 969px;
}
div{
    width: 100vh;
    margin: 0 auto;
}


li{
    margin: 0 0 15px 0;
}

h1{
    font-size: 36px;
    line-height: 36px;
}
h2{
    margin: 40px 0px 0px;
}

p{
    font-size: 20px;
    line-height: 26px;
}

img{
    width: 600px;
    height: 600px;
}



p:nth-of-type(2){
    margin-top: 40px;
    background-color: #e0f6ed;
    padding: 15px;
}

